.botones{
display: flex;
 justify-content: center;
 color: #0e3459;
 height: 20px;
 border-radius: 4px;
 padding: 1em;
 background-color: aqua;
 border: none;
 margin-left: 0%;
 margin-bottom: 10px;
 



animation:  shaking 2S infinite;
 
 }
  @keyframes shaking{
    10%{
        transform: scale(1.05) rotate(5deg);
    }
    20%{
        transform: scale(1.05) rotate(-5deg);
    }
    30%{
        transform: scale(1.05) rotate(5deg);
    }
    40%{
        transform: none;
    }

    
  }