:root {
  font-family: 'Roboto', sans-serif;

}


:root {
  --primary: #1f3e72;
  --secondary: rgba(255, 255, 255, 0.78);
  --black: rgb(33, 34, 33);
  /*--blue-gradient: linear-gradient(97.05deg, #4066ff 3.76%, #2949c6 100%);*/
  --blue-gradient: linear-gradient(97.05deg, rgb(211, 62, 17) 3.76%, rgb(198, 51, 41) 100%);
  /*--orange-gradient: linear-gradient(270deg, #ffb978 0%, #ff922d 100%);*/
  --orange-gradient: linear-gradient(270deg, #ecce22 0%,  rgb(211, 62, 17) 100%);
  --red:  rgb(198, 51, 41);
  --lightBlue: #eeeeff;
  --shadow: 0px 23px 21px -8px rgba(136, 160, 255, 0.25);
}
